/*@Author James Mcavady*/
/* Admin style sheet - for all admin panel css */

.addrecipe {
	float:left; 
	text-align: center; 
	width: 97.6%; 
	background: rgb(255, 255, 255) none repeat scroll 0% 0%; 
	margin-top: 20px;
}
